.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #0A0908;
    width: 100vw;
    height: 6.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    font-size: 30px;
}
.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    list-style: none;
    color: #F2F4F3;
}

.navbar img{
    border-radius: 10%;
}

.navbar img:hover{
    transform: scale(1.2);
}

.navbar .lista :hover{
    color:#FF6B6B; 
};

